# Configuration created by Apache Sling JCR Installer
scripts=["create\ service\ user\ property-converter","set\ ACL\ on\ /apps,/content,/etc\r\n\ \ \ \ allow\ jcr:read\ for\ property-converter\r\n\ \ \ \ allow\ jcr:write\ for\ property-converter\r\n\ \ \ \ allow\ jcr:modifyProperties\ for\ property-converter\r\nend"]
references=[""]
